<!-- the url_show.ejs will display the long URL and the shortened form of the url. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/_header %>
        <title>TinyApp</title>
    </head>
    <body>
        <h1>This is a long url and the shortened form</h1>
        
        <p><strong><%=shortURL %>:</strong> <a href= "<%=longURL %>" ><%=urls[shortURL].longURL %></a></p>
 
        <h1>ShortURL: <%=shortURL %>  </h1>
        <form action="/urls/<%= shortURL %>" method="POST" >
        <label for="longURL">Update a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>

    </body>
</html>

