<!-- The urls_index.ejs template is used to display all the URLs and their shortened forms -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
<% include partials/_header %>
</head>
<body style="margin:25px">
   <!-- Add your EJS code here -->
<h2>My URLs</h2>
<% for(var url in urls) { %>
<li style="padding:10px;">
  <%= url%> &rarr; <a href=  <%= urls[url].longURL %>  ><%= urls[url].longURL  %></a>
  <a style="margin:10px;" href= "/urls/<%= url %>">Edit</a>
  <form style="display: inline-block;" method="POST" action="/urls/<%=url %>/delete"> 
  <button type = "submit">delete</button>
</form> 
</li>
<% }; %>

<p><strong><a href="/urls/new">Make a new short URL</a></strong></p>

</body>
</html> 